services:
  postgres-db:
    image: postgres:15-alpine
    container_name: db_transacciones_container
    environment:
      POSTGRES_DB: db_transacciones
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - bank-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  ms-transacciones:
    build: .
    container_name: ms_transacciones_container
    ports:
      - "8082:8082"
    depends_on:
      postgres-db:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-db:5432/db_transacciones
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: admin
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
    networks:
      - bank-network
    restart: on-failure

networks:
  bank-network:
    driver: bridge

volumes:
  postgres_data: